main {
    margin: auto;
    width: 70%; 
    margin-top: 100px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 40px;
    width: 800px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: black;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search-field img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.search-field, input {
    border: none;
    outline: none;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper button {
    height: 42px;
    border-radius: 6px;
    font-size: 16px;
    width: 150px;
    color: white;
    margin-left: 52px;
}

@media screen and (max-width: 767px) {
    main {
        width: 95%;
    }

    .wrapper button{
        margin-left: 24px;
        font-size: 12px;
        padding: 6px;
        width: 300px;
    }
}