.sectionRaiz {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - 7.5rem);
}

.sectionRaiz .div_Bg_Form{
  width: 80%;
}

@media (max-width: 767px) {
  .sectionRaiz {
    min-height: calc(100dvh - 7.25rem);
  }
}

@media (max-width: 478px) {
  .sectionRaiz {
    min-height: calc(100dvh - 8.5rem);
  }
}