.infoContatosPai {
  height: 26rem;
}

.infoContatosFilho {
  max-width: 50rem;
  margin-left: 10rem;
}

.divForm {
  right: 10rem;
}

@media (max-width: 1279px) {
  .infoContatosFilho {
    margin-left: 6rem;
  }

  .divForm {
    right: 6rem;
  }
}

@media (max-width: 1023px) {
  .raizContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .infoContatosPai,
  .divForm {
    width: 100%;
    max-width: 40rem;
    position: relative;
    margin: 0;
    height: auto;
  }

  .infoContatosFilho {
    max-width: 30rem;
    padding: 2rem;
    margin: 0 auto;
  }

  .divForm {
    margin-top: 2rem;
    right: 0;
  }
}
