.infoContatosPai {
  height: 26rem;
}

.infoContatosFilho {
  max-width: 25rem;
  margin-left: 7.2rem;
}

.divForm {
  right: 13.6rem;
}

@media (max-width: 1535px) {
  .infoContatosFilho {
    margin-left: 10rem;
  }

  .divForm {
    right: 10rem;
  }
}

@media (max-width: 1279px) {
  .infoContatosFilho {
    margin-left: 6rem;
  }

  .divForm {
    right: 6rem;
  }
}

@media (max-width: 1023px) {
  .raizContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .infoContatosPai,
  .divForm {
    width: 100%;
    max-width: 40rem;
    position: relative;
    margin: 0;
    height: auto;
  }

  .infoContatosFilho {
    border-radius: 0.5rem;
    background-color: #1f2937;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 50rem;
    padding: 2rem;
    margin: 0;
  }

  .divForm {
    margin-top: 2rem;
    right: 0;
  }
}

@media (max-width: 420px) {
  .infoContatosFilho ul li a.Email {
    word-break: break-all;
  }
}

@media (max-width: 366px) {
  .qtdAvaliacoes {
    display: none;
  }
}
